<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Video Chat App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>

    <div id="video-chat-form">
        <h2 class="text">Video Chat App</h2>
        <input id="roomName" type="text" name="roomName" placeholder="Room Name" />
        <button id="join" onclick="changeButtonColor()">Join</button>
    </div>
    <div id="video-chat-rooms">
        <video id="user-video" class="rounded-corners"></video>
        
        <video id="peer-video" class="rounded-corners"></video>
    </div>
    <div class="btn-group" id="btn-group" style="display: none">
        <button id="muteButton">Mute</button>
        <button id="leaveRoomButton">Leave Room</button>
        <button id="hideCamera">Hide Camera</button>
    </div>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="js/script.js"></script>

</body>

</html>
