*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  font-family: "Helvetica", sans-serif;
  background: linear-gradient(to right, #ff6b6b, #f794a4, #f1c40f, #2ecc71, #3498db, #9b59b6);
  color: #fff;
  margin: 0; /* Remove default margin */
}

h2 {
  font-size: 24px;
  padding: 10px 20px;
  color: #00bcd4;
}

#video-chat-form {
  
  text-align: center;
  max-width: 600px;
  background-color: #1a1a1a;
  margin: 30px auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#user-video,#peer-video
{
  margin:20px;
}

#chat-window {
  height: 400px;
  overflow: auto;
  background: #222;
  border-radius: 10px;
  padding: 10px;
}

#output p {
  padding: 14px 0;
  margin: 0 20px;
  border-bottom: 1px solid #444;
}

#feedback p {
  color: #aaa;
  padding: 14px 0;
  margin: 0 20px;
}

#output strong {
  color: #00bcd4;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input {
  padding: 15px;
  box-sizing: border-box;
  background: #333;
  display: block;
  width: 100%;
  border: 1px solid #555;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#join {
  background: #00bcd4;
  color: #fff;
  font-size: 18px;
  padding: 12px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#video-chat-rooms {
  display: flex;
  justify-content: center;
}

.btn-group button {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #45a049;
}

.btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
